# LISTS
* Lists are the ordered sequence that can hold a variety of objects.
* Unlike strings, lists are mutable, meaning the elements inside a list can be changed.

In [4]:
# assigning list to a variable.
my_list = ['One','two','three','four']

In [5]:
my_list

['One', 'two', 'three', 'four']

In [4]:
my_list = ['A string',23,100.21,'m']

In [5]:
my_list

['A string', 23, 100.21, 'm']

In [6]:
# how many item are in the sequence of list
len(my_list)

4

In [7]:
my_list = ['one','two']

In [8]:
another_list = [3,4]

In [10]:
# concatenation
new_list = my_list + another_list

In [12]:
new_list

['one', 'two', 3, 4]

## Indexing and Slicing

In [13]:
my_list = ['one','two','three',4,5]

In [15]:
# Grab element at index 0.
my_list[0]

'one'

In [16]:
# slicing
my_list[1:]

['two', 'three', 4, 5]

In [17]:
my_list[::-1]

[5, 4, 'three', 'two', 'one']

In [19]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

This doesn't actually change the original list.

In [20]:
my_list

['one', 'two', 'three', 4, 5]

We have to reassign the list to make changes

In [25]:
my_list = my_list + ['add new item permanently']

In [26]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [27]:
# making the list double
my_list*2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

Again this doesn't affect the original list.

In [86]:
my_list = ['one','two','three',4,5]

In [87]:
my_list[0] = 'ONE ALL CAPS'

In [88]:
my_list

['ONE ALL CAPS', 'two', 'three', 4, 5]

Use the **append** method to add an item to the end of a list permanently.

In [89]:
# append
my_list.append('six')

In [90]:
my_list

['ONE ALL CAPS', 'two', 'three', 4, 5, 'six']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off.

In [91]:
my_list.pop()

'six'

In [92]:
my_list

['ONE ALL CAPS', 'two', 'three', 4, 5]

In [93]:
my_list.pop(2)

'three'

In [53]:
my_list

['ONE ALL CAPS', 'two', 4, 5]

In [54]:
popped_list = my_list.pop()

In [55]:
popped_list

5

In [56]:
my_list

['ONE ALL CAPS', 'two', 4]

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [43]:
new_list = ['a','e','x','c','m']
num_list = [4,11,9,7,1]

In [67]:
new_list.sort()

In [68]:
new_list

['a', 'c', 'e', 'm', 'x']

In [44]:
my_sorted_list = new_list.sort()

In [70]:
my_sorted_list

In [71]:
type(my_sorted_list)

NoneType

my_list.sort() doesn't actually return anything to reassign.

Instead if we did want to reassign, we can do it like this way.

In [45]:
new_list.sort()
my_sorted_list = new_list

In [46]:
my_sorted_list

['a', 'c', 'e', 'm', 'x']

In [60]:
num_list.sort()

In [61]:
num_list

[1, 4, 7, 9, 11]

In [62]:
# use 'reverse' to reverse the order permanently.
new_list.reverse()

In [63]:
new_list

['x', 'm', 'e', 'c', 'a']

In [64]:
num_list.reverse()

In [65]:
num_list

[11, 9, 7, 4, 1]

## Nesting Lists
A great feature of Python data structures is that they support nesting. This means we can have data structures within data structures. For example: A list inside a list.

In [79]:
# Let's make three lists.
lst_1 = [1,2,3]
lst_2 = [4,5,6]
lst_3 = [7,8,9]

# Make a list of lists to create matrix
matrix = [lst_1,lst_2,lst_3]

In [80]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [95]:
# Grab item in matrix object
matrix[0]

[1, 2, 3]

In [96]:
# Grab first item of the first item in the matrix object.
matrix[0][0]

1

In [97]:
# Grab first item of the third item in the matrix object.
matrix[2][0]

7

# Dictionaries
We've been learning about sequences in Python but now we're going to switch gears and learn about mappings in Python.

So what are mappings? 

Mappings are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.

### {'key1':'value1','key2':'value2'}

In [4]:
my_dict = {'key1':'value1','key2':'value2'}

In [5]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [6]:
my_dict['key1']

'value1'

In [8]:
price_lookup = {'apples':2.99,'oranges':1.99,'milk':5.00}

In [9]:
price_lookup['milk']

5.0

Its important to note that dictionaries are very flexible in the data types they can hold.

In [15]:
# Nesting
d = {'key1':122,'key':[1,2,3],'key3':{'insidekey':100}}

In [16]:
d

{'key1': 122, 'key': [1, 2, 3], 'key3': {'insidekey': 100}}

In [12]:
d['key']

[1, 2, 3]

In [13]:
# can call an index on that value of a list.
d['key'][1]

2

In [14]:
d['key3']['insidekey']

100

In [18]:
price_lookup

{'apples': 2.99, 'oranges': 1.99, 'milk': 5.0}

In [19]:
# subtract 2.99 from 5.00 and set the value to 'apples'.
price_lookup['apples'] = price_lookup['milk'] - price_lookup['apples']

In [20]:
price_lookup['apples']

2.01

In [21]:
price_lookup

{'apples': 2.01, 'oranges': 1.99, 'milk': 5.0}

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [26]:
dict_1 = {}

In [27]:
dict_1['animal'] = 'dog'

In [28]:
dict_1['answer'] = '11'

In [29]:
dict_1

{'animal': 'dog', 'answer': '11'}

## A few dictionary method

In [31]:
dict_2 = {'key1':'a','key2':'b','key3':'c'}

In [33]:
dict_2.pop('key3')

'c'

In [34]:
dict_2

{'key1': 'a', 'key2': 'b'}

In [35]:
dict_2['key3'] = 'c'

In [36]:
dict_2.values()

dict_values(['a', 'b', 'c'])

In [37]:
dict_2.keys()

dict_keys(['key1', 'key2', 'key3'])

In [52]:
dict_2.items()

dict_items([('key1', 'a'), ('key2', 'B'), ('key3', 'c')])

In [40]:
# Changing the value of 'key2' to uppercase.
dict_2['key2'] = dict_2['key2'].upper()

In [41]:
dict_2

{'key1': 'a', 'key2': 'B', 'key3': 'c'}

# Tuples
In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

In [55]:
t = (1,2,3)

In [56]:
mylist = [1,2,3]

In [59]:
type(t)

tuple

In [61]:
type(mylist)

list

In [62]:
t = ('one',2,'three')

In [63]:
t

('one', 2, 'three')

In [64]:
#indexing
t[0]

'one'

In [65]:
t[1]

2

In [66]:
t[-1]

'three'

In [67]:
#slicing
t[1:]

(2, 'three')

## Basic Tuples Methods
Tuples have built-in function, but not as many as lists do.

In [68]:
tup = ('a','a','b','c')

In [70]:
# Use .count to count the number of values appears.
tup.count('a')

2

In [72]:
# Use .index to enter the value and return the index.
tup.index('a')

0

In [73]:
tup.index('c')

3

## Immutability
Tuples value can't be changed and reassign.

In [74]:
mylist

[1, 2, 3]

In [75]:
t

('one', 2, 'three')

In [78]:
mylist[0] = 'one'

In [79]:
mylist

['one', 2, 3]

In [80]:
tup[0] = 1

TypeError: 'tuple' object does not support item assignment

# Sets and Booleans
There are two other object types in Python: sets and booleans.

## Sets
Sets are an unordered collection of unique elements. We can construct them by using the set( ) function.

In [1]:
myset = set()

In [2]:
myset

set()

In [3]:
myset.add(1)

In [4]:
myset

{1}

In [5]:
myset.add(2)

In [6]:
myset

{1, 2}

Note the curly brackets. This does not indicate a dictionary!

We know that a set has only unique entries. Therefore, it cannot add something that is already in a set.

In [7]:
# again adding '2' to 'myset'
myset.add(2)

In [8]:
myset

{1, 2}

In [9]:
# List
mylist = [1,1,1,1,2,2,2,3,3,3,3]

In [11]:
set(mylist)

{1, 2, 3}

In [21]:
set('Malay')

{'M', 'a', 'l', 'y'}

Set has only a unique value

## Booleans
Python comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None.

In [12]:
True

True

In [13]:
False

False

In [14]:
type(True)

bool

We can also use comparison operators to create booleans.

In [15]:
1 > 2

False

In [16]:
2 == 2

True

We can use 'None' as a placeholder for an object that we don't want to reassign yet:

In [17]:
b = None

In [18]:
print(b)

None