# Arithmetics

In [74]:
2 + 3

5

In [75]:
2 - 3

-1

In [76]:
7/4

1.75

In [77]:
# floor division
7//4

1

this doesn't take the decimal part into accounts.

In [78]:
2*3

6

In [79]:
2**3

8

means 2 raise to the power 3.

In [80]:
# modulo
7%4

3

Takes out the remainder.

In [81]:
# taking out the square roots.
9 ** 0.5

3.0

In [82]:
# varaible assignment
a = 5

In [83]:
a

5

In [84]:
# variable reassignment
a = 10

In [85]:
a

10

In [86]:
a = a + a
# use 'a' to redefine 'a'.

In [87]:
a

20

# Dynamic Typing 
* meaning you can reassign variables to different data types.

In [88]:
my_dog = 1

In [89]:
my_dog

1

In [90]:
my_dog = "frankie"

In [91]:
my_dog

'frankie'

# Creating string
We need to use either single quotes or double quotes.

In [92]:
"This is a string"

'This is a string'

In [93]:
'This is also a string'

'This is also a string'

# Printing the string
Using the print( ) function.

In [94]:
print("Hello malay")

Hello malay

In [95]:
print("hello \n malay")
# '\n' is a escape sequence to print to a line.

hello
 malay

In [96]:
# Checking the length of the string using len( ) function.
len("Hello malay")

11

# Indexing

In [1]:
name = "malay jeena"

In [98]:
print(name[0])

m

In [99]:
print(name[6])

j

# Slicing
We can use : to everything up to a designated point.

In [100]:
name[0:]

'malay jeena'

In [101]:
name[0:4]

'mala'

In [102]:
name[0:-1]

'malay jeen'

In [103]:
# grabs everything up to 3rd index. 
name[:4]

'mala'

In [104]:
# there is no change in the variable'name'
name

'malay jeena'

In [105]:
name[::2]
# Grabs everything, but go in step size of 2.

'mlyjea'

In [106]:
# We can use this to print a string backward
name[::-1]

'aneej yalam'

# String properties

In [107]:
s = "man"

In [108]:
# Let's try to change the first letter to 'p'.
s[0] = 'p'

TypeError: 'str' object does not support item assignment

What we can do is string concatenate.

In [110]:
change_name = s[1:]

In [111]:
"p" + change_name
# concatenating the string.

'pan'

In [112]:
s * 4

'manmanmanman'

In [113]:
s

'man'

# Built-in strings methods.

In [2]:
name = "malay jeena"

In [3]:
# coverting to uppercase
name.upper()

'MALAY JEENA'

In [4]:
name.lower()

'malay jeena'

In [5]:
# Splitting the string by blank space( this is the default).
name.split()

['malay', 'jeena']

In [6]:
# spltting by a specific element( doesn't include the element that was split on).
name.split("a")

['m', 'l', 'y jeen', '']

# Print Formatting Method
There are three ways to perform string formatting.
1. The oldest method involves placeholders using the modulo % character.
2. An improved technique uses the .format() string method.
3. The newest method, introduced with Python 3.6, uses formatted string literals, called f-strings.

## Method 1 - .format( )
We can use the .format( ) method to add formatted objects to print the strings statements. 
### Syntax :
### "String here { } then also { }".format("something1","something2")

In [ ]:
print("Insert another string with curly braces: {}".format("The inserted string "))

* One advantage is that the string can actually be inserted by index position.

In [128]:
print("The {} {} {}.".format("fox","brown","quick"))

The fox brown quick.

In [129]:
# Using the index position to make it gramatically sense i.e. The quick brown fox.
print('The {2} {1} {0}.'.format('fox','brown','quick'))

The quick brown fox.

In [130]:
print('The {0} {0} {0}.'.format('fox','brown','quick'))

The fox fox fox.

In [131]:
# Assigning the key words for simplicity.
print('The {q} {b} {f}.'.format(f = 'fox', b = 'brown', q = 'quick'))

The quick brown fox.

### Float formatting with .format( ) method.
* It basically allows you to adjust the width and precision of floating point number.
* Width allows you to add in whitespace. 
* So precision value allows you to set the precision of a decimal.  
### Syntax :
### float formatting follows "{ value:width.precison f }"

In [116]:
result = 100/777

In [117]:
result

0.1287001287001287

In [269]:
print("The result is {r}".format(r = result))

The result is 0.1287001287001287

In [119]:
print("The result is {r:1.3f}".format(r = result))

The result is 0.129

In [208]:
print("The result is {r:1.5f}".format(r = result))

The result is 0.12870

In [252]:
print("The result is {r:10.5f}".format(r = result))

The result is    0.12870

## Method 2 - f-strings
* Now we have f-strings and these are formatted string literals.
* These are introduced in python 3.6, so they are very new and they offer several benefits over older .format( ) method.
### Syntax :
### f"string here { something1 } then also { something2 }"

In [114]:
name

'malay jeena'

In [122]:
print(f"My name is {name} ")

My name is malay jeena

In [123]:
age = 21

In [133]:
print(f"{name} is {age} years old")

malay jeena is 21 years old

Pass !r to get the string representation.

In [288]:
print(f"{name!r} is {age} years old")

'malay jeena' is 21 years old

In [160]:
print(f"The {'quick'} {'brown'} {'fox'}.")

The quick brown fox.

##### If double quotes are used inside the print( ) function then use single quotes inside curly braces or vice-versa.

### Float formatting with f-string
### Syntax :
### float formatting follows " { value: {width} . {precision} }"

Where with the .format() method you might see {value:10.4f} , with f-strings this can become {value:{10}.{6}}

In [316]:
num = 23.45678
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4568
My 10 character, four decimal number is:   23.4568

Note that with f-strings, precision refers to the total number of digits, not just those following the decimal. This fits more closely with scientific notation and statistical analysis. Unfortunately, f-strings do not pad to the right of the decimal, even if precision allows it:

In [319]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{4}}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:     23.45

If this becomes important, you can always use .format() method syntax inside an f-string:

In [325]:
num = 23.45
print("My 10 character, four decimal number is{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is{num:10.4f}")

My 10 character, four decimal number is   23.4500
My 10 character, four decimal number is   23.4500

## Method 3 - Formatting with placeholders.

In [168]:
print("%s is %d years old." %( 'Malay',21))

Malay is 21 years old.

In [161]:
print("I'm going to inject %s here." %'something')

I'm going to inject something here.

In [169]:
print("I once caught a fish %s." %("this \tbig"))
print("I once caught a fish %r." %("this \tbig"))

I once caught a fish this 	big.
I once caught a fish 'this \tbig'.

%r and repr( ) deliver the string representation of the object, including quotation marks and any escape characters.

The %s operator converts whatever it sees into a string, including integers and floats. The %d operator converts numbers to integers first, without rounding. Note the difference below:

In [170]:
print("The cost is %s" %3.75)
print("The cost is %d" %3.75)

The cost is 3.75
The cost is 3

## Padding and Precision of Floating Point Numbers
Floating point numbers use the format %5.2f . Here, 5 would be the minimum number of characters the string should contain; these may be padded with whitespace if the entire number does not have this many digits. Next to this, .2f stands for how many numbers to show past the decimal point.

In [286]:
 print('Floating point numbers: %5.2f' %(13.144))

Floating point numbers: 13.14

In [187]:
print('Floating point numbers: %1.0f' %(13.144))

Floating point numbers: 13

In [191]:
print('Floating point numbers: %1.5f' %(13.144))

Floating point numbers: 13.14400

In [196]:
print('Floating point numbers: %10.2f' %(13.144))

Floating point numbers:      13.14

In [202]:
print(f"My name is {'malay'}.")

My name is malay.

## The .format() method has several advantages over the %s placeholder method:

### 1. Inserted objects can be called by index position:

In [203]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

### 2. Inserted objects can be assigned keywords:

In [204]:
 print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='T wo',c=12.3))

First Object: 1, Second Object: T wo, Third Object: 12.3

### 3. Inserted objects can be reused, avoiding duplication:

In [205]:
print('A %s saved is a %s earned.' %('penny','penny'))
# vs.
print('A {p} saved is a {p} earned.'.format(p ='penny'))

A penny saved is a penny earned.
A penny saved is a penny earned.

## Alignment, padding and precision with .format( )

Within the curly braces you can assign field lengths, left/right alignments, rounding parameters and more

In [272]:
print("{0:8} | {1:9}".format('Fruit','Quantity'))
print("{0:8} | {1:9}".format('Apples',3.))
print("{0:8} | {1:9}".format('Oranges',10))

Fruit    | Quantity
Apples   |       3.0
Oranges  |        10

By default, .format() aligns text to the left, numbers to the right. You can pass an optional < , ^ , or > to set a left, center or right alignment:

In [277]:
print("{0:<8} | {1:^8} | {2:>8}".format('Left','Centre','right'))

Left     |  Centre  |    right

You can precede the alignment with a padding character.

In [287]:
print("{0:=<8} | {1:-^8} | {2:.>8}".format('Left','Centre','Right'))
print("{0:=<8} | {1:-^8} | {2:.>8}".format('11','22','33'))

Left==== | -Centre- | ...Right
11====== | ---22--- | ......33